<!-- <section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
      <div class="col-xl-6 col-lg-8">
        <h1>Discoteca El Oasis</h1>
        <h2>Salsa <span>·</span> Bachata <span>·</span> Perreo <span>·</span> Merengue <span>·</span> Cumbia</h2>
      </div>
    </div>
  </div>
</section>End Hero -->

<!-- <div class="bg-image">
</div> -->
<section id="hero">
  <h1 class="h1title">Discoteca El Oasis</h1>
  <h2>Salsa <span>·</span> Bachata <span>·</span> Perreo <span>·</span> Merengue <span>·</span> Cumbia</h2>
</section>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon><img src="../../assets/img/copas-de-champan.png" alt="" width="28px" height="30px">  </mat-icon> <span class="spanHeader">  Sistema de Gestion de Discotecas El Oasis</span>
    </a>
    <ul>
      <li><a (click)="loginAction()">Iniciar Sesión</a></li>
      <li><a (click)="signupAction()">Registrarme</a></li>
      <li><a (click)="forgotPasswordAction()">Olvide mi Contraseña</a></li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>Todos los derechos reservados <span class="spanFooter">@Discoteca el Oasis</span></h2>
</div>