<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Lo mas destacado</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/botellas.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/botellas.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Botellas</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Tenemos las mejores marcas en bebidas con la mejor calidad a su disposición siempre.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/fiestas1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/fiestas1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Fiestas temáticas</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Dejemos la rutina a un lado, todos los 
                            sabados fiestas temáticas en discoteca Oasis.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/promociones2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/promociones2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Promociones</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Disfruta y aprovecha 
                            nuestras promociones, síguenos en nuestras redes sociales para estar al tanto de todas ellas.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/ambiente1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/ambiente1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>El mejor ambiente</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Un ambiente en Armenia de mucha calidad, con la mejor fiesta y 
                            grandes sorpresas, ¡No te lo pierdas!</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Se parte
                        <br />
                        de nuestra
                        <br />
                        ¡Discoteca!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>